.center {
    text-align: center;
    margin: auto;
}

.jumbotron {
    width: 90%;
    margin: 30px auto;
}

.row {
    margin: 10px 0;
}

.ud-margin {
    margin: 15px 0;
}

.auto-height {
    position:absolute;
    height: auto;
    margin: auto;
}