<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>{% block title %}{% endblock %} - MyUNIV</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('Index.index') }}">MyUNIV</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('Index.index') }}">首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('Query.query') }}">查询</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if "uid" in session %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ session["name"] }}
                            </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('Modify.modify') }}">修改个人数据</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('AddUser.adduser') }}">管理用户</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('AddData.adddata') }}">添加数据</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('Login.logout') }}">登出</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <a href="{{ url_for('Login.login') }}" class="nav-link" one-link-mark="yes">登录</a> {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron">
            {% block content %}{% endblock %}
        </div>
        <br />
        <div id="footer" class="center">
            Powered by MyUNIV. A Johnson Sun work.
        </div>
        <br />
    </div>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='sweetalert.min.js') }}"></script>
    {% block script %}{% endblock %}
</body>

</html>