{% extends "base.html" %}
{% block title %}登录{% endblock %}
{% block content %}
<div class="col-sm-6 offset-sm-3">
    <br />
    <h2 class="center ud-margin">登录</h2>
    {% if error %}
    <br />
    <div class="center">
        <span class="alert alert-danger" role="alert">
            <strong>{{ error }}</strong>
        </span>
    </div>
    <br />
    {% endif %}
    <div id="form">
        <form action="./login" method="POST" role="form" onsubmit="return SubmitCheck()">
            <div class="mb3">
                <label for="uid" class="form-label">用户名</label>
                <input type="text" class="form-control" id="uid" name="uid" autocomplete="username" placeholder="用户名">
            </div>
            <br />
            <div class="mb3">
                <label for="passwd" class="form-label">密码</label>
                <input type="password" class="form-control" id="passwd-fake" autocomplete="current-password"
                    placeholder="密码">
                <input type="hidden" id="nonce" value="{{ nonce }}">
                <input type="hidden" id="passwd" name="passwd">
            </div>
            <br />
            <input type="hidden" name="csrf" value="{{ csrf }}">
            <div class="center">
                <button type="submit" class="btn btn-primary">登录</button>
            </div>
        </form>
    </div>
</div>
<script src="{{ url_for('static', filename='md5.min.js') }}"></script>
<script>
    function SubmitCheck() {
        if ($('#uid').val() == '') {
            swal({
                title: "请输入用户名",
                icon: "warning",
                timer: 1000,
            });
            return false;
        }
        if ($('#passwd-fake').val() == '') {
            swal({
                title: "请输入密码",
                icon: "warning",
                timer: 1000,
            });
            return false;
        }
        $('#passwd').val(md5($('#passwd-fake').val() + $('#nonce').val()));
    }
</script>
{% endblock %}